<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" />
</head>

<body>
    <h3 class="mb-3 py-3" style="text-align: center; background-color: aquamarine;">Remote Sensing using Data Cube
    </h3>
    <div class="container">
        <div class="my-5 row">
            <div class="col-lg-7">
                <div class="mapouter" style="position: unset;" id="map">
                    <!-- <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=15.733048,80.945512&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div> -->
                </div>
            </div>
            <div class="col-lg-5 my-3 my-lg-0">
                <form onsubmit="submitValue(event)">
                    <div class="mb-3 row">
                        <div class="mb-3 col-md-6">
                            <label for="fromdate" class="form-label">From</label>
                            <input type="date" class="form-control" id="fromdate" name="fromdate" value="2022-01-01">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="todate" class="form-label">To</label>
                            <input type="date" class="form-control" id="todate" name="todate" value="2023-02-10">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="buffer" class="form-label">Analysis Type</label>
                        <select class="form-select" aria-label="Type of Analysis" id="type" name="type">
                            <option selected>-- Select --</option>
                            <option value="ndvi">NDVI</option>
                            <option value="ndwi">NDWI</option>
                            <option value="forest">Random Forest Analysis</option>
                        </select>
                    </div>
                    <button class="btn btn-primary me-2" id="submitBtn" type="submit">Submit</button>
                    <button class="btn btn-primary" onclick="clearAll(event)">Clear All</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="modal-title fs-5 mb-3" id="staticBackdropLabel">Analysis Results</h1>
        <div class="my-3" id="loading" style="overflow-x: auto; min-height: 50px; display: flex; align-items: center;">
            <div class="spinner-border" role="status"><span class="sr-only"></span></div>
            <div class="mx-3">Loading... Please wait...</div>
        </div>
        <div class="row">
            <div class="col-lg-6 p-4 mb-4" id="res"
                style="border: 1px solid grey; max-height: 800px; overflow-y: auto;"></div>
            <div class="col-lg-6">
                <canvas id="myChart"></canvas>
                <div style="height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="plot-container"></div>
    </div>

    <style type="text/css">
        #map {
            height: 400px;
            width: 100%;
        }

        .res_img {
            width: 100%;
        }
    </style>

    <!-- JavaScript code to update the map -->
    <!-- <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script> -->

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>

    <script src="/static/plotly-2.24.1.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/javascript">
        var map;
        var marker;
        var map = L.map('map').setView([15.733048, 80.945512], 9);
        var coordinates = [];
        var fetched = [];
        var area_colors = [];
        var plot_data = [];
        let res = document.getElementById("res")
        let loading = document.getElementById("loading")
        let submitBtn = document.getElementById("submitBtn")
        loading.style.display = 'none'
        let chart = null;

        function getRandomColor() {
            const goldenRatio = (1 + Math.sqrt(5)) / 2;
            const hue = (Math.random() + goldenRatio) % 1; // Generate a random hue value

            // Set saturation and lightness to fixed values to maintain consistent color brightness
            const saturation = 0.7;
            const lightness = 0.5;

            // Convert HSL values to RGB
            const hslToRgb = (h, s, l) => {
                const c = (1 - Math.abs(2 * l - 1)) * s;
                const x = c * (1 - Math.abs((h * 6) % 2 - 1));
                const m = l - c / 2;

                let r, g, b;
                if (h < 1 / 6) {
                    [r, g, b] = [c, x, 0];
                } else if (h < 2 / 6) {
                    [r, g, b] = [x, c, 0];
                } else if (h < 3 / 6) {
                    [r, g, b] = [0, c, x];
                } else if (h < 4 / 6) {
                    [r, g, b] = [0, x, c];
                } else if (h < 5 / 6) {
                    [r, g, b] = [x, 0, c];
                } else {
                    [r, g, b] = [c, 0, x];
                }

                return [(r + m) * 255, (g + m) * 255, (b + m) * 255];
            };

            // Convert RGB values to hexadecimal color code
            const rgbToHex = (r, g, b) => {
                return `#${[r, g, b].map((x) => Math.round(x).toString(16).padStart(2, '0')).join('')}`;
            };

            // Convert HSL to RGB and then to hexadecimal color code
            const [r, g, b] = hslToRgb(hue, saturation, lightness);
            const hexColor = rgbToHex(r, g, b);

            return hexColor;
        }

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
            id: 'osm'
        }).addTo(map);

        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            edit: {
                featureGroup: drawnItems
            },
            draw: {
                polygon: false,
                circle: false,
                rectangle: {
                    allowIntersection: false,
                    showArea: true,
                    editable: true,
                },
                marker: false,
                polyline: false,
                circlemarker: false
            }
        });
        map.addControl(drawControl);

        fetch('/datasets').then(data => data.json()).then(data => {
            for (const bounds of data.coordinates) {
                var boundingBox = L.rectangle(bounds, { color: 'red', weight: 2, fill: false });
                boundingBox.addTo(map);
            }
        }).catch(error => console.log(error))

        map.on(L.Draw.Event.CREATED, function (event) {
            var layer = event.layer;
            drawnItems.addLayer(layer);
            let rand = getRandomColor()
            area_colors.push(rand)
            layer.setStyle({ fillColor: rand, color: rand });
            getPolygonCoords(layer.getLatLngs());
        });

        map.on(L.Draw.Event.EDITED, function (e) {
            if (drawnItems.getLayers().length > 1) {
                drawnItems.removeLayer(e.layer);
            }
        });

        function getPolygonCoords(coords) {
            var latLngs = coords[0];
            var polygonCoords = [];
            for (var i = 0; i < latLngs.length; i++) {
                polygonCoords.push([latLngs[i].lat, latLngs[i].lng]);
            }
            console.log(polygonCoords);
            coordinates.push(polygonCoords)
        }

        async function submitValue(event) {
            event.preventDefault()

            submitBtn.innerText = 'Loading...'
            submitBtn.setAttribute("disabled", "")

            if (!drawnItems.getLayers().length) {
                submitBtn.innerText = 'Submit'
                submitBtn.removeAttribute("disabled")
                return Swal.fire('Area Selection Empty', 'No areas selected. Please select an area and submit to see analysis', 'error')
            }

            console.log(coordinates)
            loading.style.display = 'flex'

            if (document.getElementById('type').value == 'forest') {
                try {
                    const result = await fetch("/type/forest", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            coordinates: coordinates[0],
                            fromdate: document.getElementById("fromdate").value,
                            todate: document.getElementById("todate").value
                        })

                    })
                    const data = await result.json()
                    console.log(data)
                    const plotData = await JSON.parse(data.plot);
                    console.log(plotData)
                    Plotly.newPlot('plot-container', plotData);
                } catch (error) {
                    console.log(error)
                    Swal.fire('Error', 'An error occured, please try again', 'error')
                }
                loading.style.display = 'none'
                submitBtn.innerText = 'Submit'
                submitBtn.removeAttribute("disabled")
                return
            }

            for (let i = 0; i < coordinates.length; i++) {
                const coord = coordinates[i]

                if (fetched.includes(coord)) {
                    console.log(coord)
                    continue
                };
                let bodyData = {
                    coordinates: coord,
                    fromdate: document.getElementById("fromdate").value,
                    todate: document.getElementById("todate").value
                }

                try {
                    const result = await fetch("/type/" + document.getElementById("type").value, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(bodyData)

                    })
                    const data = await result.json()
                    console.log(data, data.labels)
                    if (fetched.length == 0) {
                        console.log("object")
                        chart = new Chart(document.getElementById('myChart'), {
                            type: 'line',
                            data: {
                                labels: data.labels,
                                datasets: []
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    x: {
                                        display: true
                                    },
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    }
                    chart.data.datasets.push({
                        label: data.area_name,
                        data: data.mean_res_rounded,
                        fill: false,
                        borderColor: area_colors[i],
                        tension: 0.1
                    })
                    console.log(data.mean_res_rounded, chart)
                    fetched.push(coord)
                    chart.update()
                    if (data.error) {
                        return Swal.fire('Not Found', 'Data not found in selected region', 'error')
                    }
                    res.innerHTML = `<div class="card my-2 shadow">
                    <div class="card-body">
                        <div class="justify-content-center align-items-center" style="display: flex;">
                            <svg width="20" height="20" style="margin-right: 10px;">
                                <rect width="20" height="20" style="fill: ${area_colors[i]}; stroke: ${area_colors[i]}; stroke-width: 5; fill-opacity: 0.2;"></rect>
                            </svg>
                            <h5 class="card-title mb-0">${data.type?.toUpperCase()} - ${data.area_name}</h5>
                        </div>
                        <img class="card-img-top res_img" src="data:image/png;base64, ${data.plot_url}" alt="graph">
                    </div>
                </div>` + res.innerHTML;
                } catch (error) {
                    console.log(error)
                    Swal.fire('Error', 'An error occured, please try again', 'error')
                }
            }

            loading.style.display = 'none'
            submitBtn.innerText = 'Submit'
            submitBtn.removeAttribute("disabled")
        }

        function clearAll(event) {
            event.preventDefault()
            coordinates = []
            fetched = []
            area_colors = []
            drawnItems.clearLayers();
            res.innerHTML = ``
        }
    </script>
</body>

</html>